@model CET96_ProjetoFinal.web.Models.CondominiumDetailsViewModel

@{
    ViewData["Title"] = "Condominium Details";
}

<h1>Condominium Details</h1>
<hr />

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Name: @Model.Name</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Address)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Address)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.ZipCode)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.ZipCode)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.City)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.City)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.PropertyRegistryNumber)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.PropertyRegistryNumber)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.UnitsCount)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.UnitsCount)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.ContractValue)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.ContractValue)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.FeePerUnit)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.FeePerUnit)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.CreatedAt)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.CreatedAt)</dd>
        </dl>
    </div>
</div>

<div class="mt-3">
    @if (Model.IsActive)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        <a asp-controller="Units" asp-action="Index" asp-route-condominiumId="@Model.Id" class="btn btn-success">Manage Units</a>
    }

    @if (ViewBag.FromInactive == true)
    {
        <a asp-action="InactiveCondominiums" asp-route-id="@Model.CompanyId" class="btn btn-secondary">Back to Inactive List</a>
    }
    else
    {
        <a asp-action="Index" asp-route-id="@Model.CompanyId" class="btn btn-secondary">Back to Active List</a>
    }
</div>